In [32]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 10)

In [2]:
produits = pd.read_excel("composition-nutritionnelle.xls", index_col=[0],usecols=[6,7,12,13,15,16,17,18])

Les colonnes peuvent être ajoutées à un DataFrame à l'aide de plusieurs méthodes.

Ajoutons une colonne purement démonstrative appelée CIK2 qui ajoute une nouvelle colonne avec une valeur calculée de 2.0 * la colonne CIK. Étant donné que cela modifie l'objet DataFrame, nous ferons aussi une copie.

In [3]:
# faisons une copie de notre DataFrame
copieProd = produits.copy()

In [6]:
#On ajoute une nouvelle colonne
copieProd['tx2'] = copieProd['Protéines (g/100g)'] +" gr"

In [7]:
copieProd[['Protéines (g/100g)','tx2']]

          Protéines (g/100g)     tx2
alim_code
25600                   1,12  1,12gr
25601                   9,15  9,15gr
25602                   8,06  8,06gr
25605                   2,08  2,08gr
25606                   2,68  2,68gr
...                      ...     ...
13166                    3,2   3,2gr
13167                    5,1   5,1gr
13168                     10    10gr
24689                   7,99  7,99gr
42501                    8,5   8,5gr

[2807 rows x 2 columns]

On peut aussi insérer dynamiquement une colonne en utilisant la fonction insert

In [12]:
# faisons une copie de notre DataFrame
copieProd = produits.copy()

In [13]:
# On ajoute une colonne à la position 3
copieProd.insert(3, 'gramme', copieProd['Protéines (g/100g)'] +" gr")

In [14]:
copieProd.head()

,alim_nom_fr,Eau (g/100g),Protéines (g/100g),gramme,Glucides (g/100g),Lipides (g/100g),Sucres (g/100g),Amidon (g/100g)
alim_code,,,,,,,,
25600,"Céleri rémoulade, préemballé","78,5","1,12","1,12 gr","4,19","12,8","2,38","1,3"
25601,"Salade de thon et légumes, appertisée, égouttée","76,5","9,15","9,15 gr","7,74","4,7","3,08","4,1"
25602,"Salade composée avec viande ou poisson, appert...","76,7","8,06","8,06 gr","6,4","5,3","1,9","3,3"
25605,Champignon à la grecque,"84,6","2,08","2,08 gr","3,95","3,55","2,38","0,28"
25606,Salade de pommes de terre maison,76,"2,68","2,68 gr","9,9","8,2",-,-

Si on a un index dans notre DataFrame, on peut s'en servir pour ajouter une colonne en se basant sur le contenu de l'index.

Nous allons créer un objet Series

In [20]:
#Création d'une série
s = pd.Series( {25600: 'Ce produit est présent',1: 'Ce produit est absent'} )
s

25600    Ce produit est présent
1         Ce produit est absent
dtype: object

In [21]:
# faisons une copie de notre DataFrame
copieProd = produits.copy()

In [22]:
# On va créer dynamiquement un nouvelle colonne commentaire et va fusionner avec la séries s
copieProd['Commentaire'] = s

In [23]:
copieProd.head()

,alim_nom_fr,Eau (g/100g),Protéines (g/100g),Glucides (g/100g),Lipides (g/100g),Sucres (g/100g),Amidon (g/100g),Commentaire
alim_code,,,,,,,,
25600,"Céleri rémoulade, préemballé","78,5","1,12","4,19","12,8","2,38","1,3",Ce produit est présent
25601,"Salade de thon et légumes, appertisée, égouttée","76,5","9,15","7,74","4,7","3,08","4,1",NaN
25602,"Salade composée avec viande ou poisson, appert...","76,7","8,06","6,4","5,3","1,9","3,3",NaN
25605,Champignon à la grecque,"84,6","2,08","3,95","3,55","2,38","0,28",NaN
25606,Salade de pommes de terre maison,76,"2,68","9,9","8,2",-,-,NaN

Il faut faire attention au type d'index pour utiliser cette opération.

In [24]:
# Ajout d'une nouvelle colonne à partir d'éléments existants

# faisons une copie de notre DataFrame
copieProd = produits.copy()

copieProd['Fusion']=copieProd['Protéines (g/100g)']+" "+copieProd['Glucides (g/100g)']

copieProd.head()

,alim_nom_fr,Eau (g/100g),Protéines (g/100g),Glucides (g/100g),Lipides (g/100g),Sucres (g/100g),Amidon (g/100g),Fusion
alim_code,,,,,,,,
25600,"Céleri rémoulade, préemballé","78,5","1,12","4,19","12,8","2,38","1,3","1,12 4,19"
25601,"Salade de thon et légumes, appertisée, égouttée","76,5","9,15","7,74","4,7","3,08","4,1","9,15 7,74"
25602,"Salade composée avec viande ou poisson, appert...","76,7","8,06","6,4","5,3","1,9","3,3","8,06 6,4"
25605,Champignon à la grecque,"84,6","2,08","3,95","3,55","2,38","0,28","2,08 3,95"
25606,Salade de pommes de terre maison,76,"2,68","9,9","8,2",-,-,"2,68 9,9"

In [25]:
# Ajout d'une nouvelle colonne en passant une série avec index
# Index c n'existe pas d'où valeur Nan

# faisons une copie de notre DataFrame
copieProd = produits.copy()

copieProd['Fusion']=pd.Series([10,20,30],index=[25600,25601,0])

In [26]:
copieProd.head()

,alim_nom_fr,Eau (g/100g),Protéines (g/100g),Glucides (g/100g),Lipides (g/100g),Sucres (g/100g),Amidon (g/100g),Fusion
alim_code,,,,,,,,
25600,"Céleri rémoulade, préemballé","78,5","1,12","4,19","12,8","2,38","1,3",10.0
25601,"Salade de thon et légumes, appertisée, égouttée","76,5","9,15","7,74","4,7","3,08","4,1",20.0
25602,"Salade composée avec viande ou poisson, appert...","76,7","8,06","6,4","5,3","1,9","3,3",NaN
25605,Champignon à la grecque,"84,6","2,08","3,95","3,55","2,38","0,28",NaN
25606,Salade de pommes de terre maison,76,"2,68","9,9","8,2",-,-,NaN

In [27]:
copieProd.tail()

,alim_nom_fr,Eau (g/100g),Protéines (g/100g),Glucides (g/100g),Lipides (g/100g),Sucres (g/100g),Amidon (g/100g),Fusion
alim_code,,,,,,,,
13166,Dessert lacté infantile nature sucré ou aux fr...,"78,8","3,2","13,9","2,9","9,99","2,2",NaN
13167,"Céréales instantanées, poudre à reconstituer, ...","2,2","5,1","88,3","1,7","12,7","44,5",NaN
13168,"Céréales instantanées, poudre à reconstituer, ...","1,8",10,"81,1",2,"32,8",36,NaN
24689,Biscuit pour bébé,"3,46","7,99","72,7","12,2","27,6","39,1",NaN
42501,Poudre cacaotée pour bébé,"1,2","8,5",85,"1,9","44,5","16,1",NaN

In [33]:
# On va créer une nouvelle colonne couleur
exam_data  = {'nom': ['Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Michel', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)

In [34]:
df

         nom  note qualification
a       Anne  12.5           yes
b       Alex   9.0            no
c  catherine  16.5           yes
d       Jean   NaN            no
e    Emillie   9.0            no
f     Michel  20.0           yes
g     Matieu  14.5           yes
h      Laura   NaN            no
i      Kevin   8.0            no
j      Jonas  19.0           yes

In [35]:
couleur = ['Rouge','Bleue','Orange','Rouge','Blanc','Blanc','Bleue','Vert','Vert','Rouge']
df['couleur'] = couleur
df

         nom  note qualification couleur
a       Anne  12.5           yes   Rouge
b       Alex   9.0            no   Bleue
c  catherine  16.5           yes  Orange
d       Jean   NaN            no   Rouge
e    Emillie   9.0            no   Blanc
f     Michel  20.0           yes   Blanc
g     Matieu  14.5           yes   Bleue
h      Laura   NaN            no    Vert
i      Kevin   8.0            no    Vert
j      Jonas  19.0           yes   Rouge