In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 10)

In [2]:
exam_data  = {'nom': ['Anne', 'Alex', 'catherine', 'Jean', 'Emillie', 'Michel', 'Matieu', 'Laura', 'Kevin', 'Jonas'],
        'note': [12.5, 20, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
               'moyenne': [15, 18, 16.5, 9.1, 11.25, 17.5, 11.0, 13.8, 7.6, 14.3],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

         nom  note  moyenne qualification
a       Anne  12.5    15.00           yes
b       Alex  20.0    18.00            no
c  catherine  16.5    16.50           yes
d       Jean   NaN     9.10            no
e    Emillie   9.0    11.25            no
f     Michel  20.0    17.50           yes
g     Matieu  14.5    11.00           yes
h      Laura   NaN    13.80            no
i      Kevin   8.0     7.60            no
j      Jonas  19.0    14.30           yes

In [8]:
# Imaginons que nous voulions définir des catégories en fonction des moyennes
def bon_eleve(row):
    ValMoyenne = row[2]
    ValQualification = row[3]
    
    if (ValMoyenne <10) & (ValQualification=='no'):
        return 'Il faut se bouger'
    elif (ValMoyenne <10) & (ValQualification=='yes'):
        return "Il faut s'améliorer"
    elif (ValMoyenne >10) & (ValQualification=='yes'):
        return "Très bien poursuivre"
    else:
        return "Encore quelques efforts"

In [12]:
# pour activer la fonction bon_eleve sur chaque ligne
# on passe axis="columns"

df["classement"] = df.apply(bon_eleve, axis="columns")

In [13]:
df

         nom  note  moyenne qualification               classement
a       Anne  12.5    15.00           yes     Très bien poursuivre
b       Alex  20.0    18.00            no  Encore quelques efforts
c  catherine  16.5    16.50           yes     Très bien poursuivre
d       Jean   NaN     9.10            no        Il faut se bouger
e    Emillie   9.0    11.25            no  Encore quelques efforts
f     Michel  20.0    17.50           yes     Très bien poursuivre
g     Matieu  14.5    11.00           yes     Très bien poursuivre
h      Laura   NaN    13.80            no  Encore quelques efforts
i      Kevin   8.0     7.60            no        Il faut se bouger
j      Jonas  19.0    14.30           yes     Très bien poursuivre