In [5]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 10)

clients = pd.read_csv("clients.csv", sep=';',  encoding='windows-1252')
produits = pd.read_csv("produits.csv", sep=';',  encoding='windows-1252')
semaine1 = pd.read_csv("semaine 1.csv", sep=';',  encoding='windows-1252')
semaine2 = pd.read_csv("semaine 2.csv", sep=';',  encoding='windows-1252')

In [2]:
semaine1.append(semaine2)

     client  produit
0         4        3
1         2       13
2        11        9
3        24       19
4        44       12
5        34        8
6        24       19
7        23       15
8        46       14
9        15       16
10       22        7
11       13        4
12       42        5
13       18       22
14       15       22
15       41       12
16       12        7
17       48       11
18       38       14
19        9        6
20       42       17
21       44       21
22       43        5
23        9        4
24       44       22
25       18       14
26       41        8
27       33        5
28       24       18
29       15       21
..      ...      ...
220      31       22
221       8       13
222      23       14
223      13       10
224      46        2
225      16        5
226      44        5
227      28       20
228      14       10
229      45        3
230      43       10
231      43        2
232      40       13
233       9       10
234      34        1
235      48        2
236      44       16
237      46       13
238       3        1
239       7       22
240      23        1
241      38       20
242      45       13
243      28       21
244       9        7
245      15       15
246      32       19
247       4       17
248      45        4
249      31        2

[500 rows x 2 columns]

In [3]:
ventehebdo = semaine1.append(semaine2, ignore_index=True)
ventehebdo

     client  produit
0         4        3
1         2       13
2        11        9
3        24       19
4        44       12
5        34        8
6        24       19
7        23       15
8        46       14
9        15       16
10       22        7
11       13        4
12       42        5
13       18       22
14       15       22
15       41       12
16       12        7
17       48       11
18       38       14
19        9        6
20       42       17
21       44       21
22       43        5
23        9        4
24       44       22
25       18       14
26       41        8
27       33        5
28       24       18
29       15       21
..      ...      ...
470      31       22
471       8       13
472      23       14
473      13       10
474      46        2
475      16        5
476      44        5
477      28       20
478      14       10
479      45        3
480      43       10
481      43        2
482      40       13
483       9       10
484      34        1
485      48        2
486      44       16
487      46       13
488       3        1
489       7       22
490      23        1
491      38       20
492      45       13
493      28       21
494       9        7
495      15       15
496      32       19
497       4       17
498      45        4
499      31        2

[500 rows x 2 columns]