In [1]:
import pandas as pd
import numpy as np

In [3]:
exam_data  = {'nom': ['Anne Dubrueil', 'Alex rien ', 'catherine Falet', 'Jean fontaine', 'Emillie wagner', 'Michel peche', 'Matieu zilo', 'Laura ingals', 'Kevin soipe', 'Jonas marin'],
        'note': [12.5, 20, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
         'moyenne': [15, 18, 16.5, 9.1, 11.25, 17.5, 11.0, 13.8, 7.6, 14.3],
        'qualification': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
               'salaire horaire': [" 1000 €", "18 €", "16,5 €", "9,1 €", "11,25 €", "17,5 €", "11,0 €", "13,8 €", "7,6 €", "14,3 €"],
         'appreciations': ['correct', 'à suivre', 'correct', 'neutre', 'excellent', 'neutre', 'très bien', 'besoin de soutien', 'à suivre', 'besoin de soutien']
              
        }
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)

In [5]:
df.drop(['nom','note', 'moyenne'],axis=1,inplace=True)

In [6]:
df

  qualification salaire horaire      appreciations
a           yes          1000 €            correct
b            no            18 €           à suivre
c           yes          16,5 €            correct
d            no           9,1 €             neutre
e            no         11,25 €          excellent
f           yes          17,5 €             neutre
g           yes          11,0 €          très bien
h            no          13,8 €  besoin de soutien
i            no           7,6 €           à suivre
j           yes          14,3 €  besoin de soutien

In [7]:
df.set_index(keys=["qualification", "appreciations"], inplace=True)
df.sort_index(ascending=[False,True], inplace=True)

In [8]:
df

                                salaire horaire
qualification appreciations
yes           besoin de soutien          14,3 €
              correct                    1000 €
              correct                    16,5 €
              neutre                     17,5 €
              très bien                  11,0 €
no            besoin de soutien          13,8 €
              excellent                 11,25 €
              neutre                      9,1 €
              à suivre                     18 €
              à suivre                    7,6 €

In [9]:
df.transpose()

qualification                 yes                                     \
appreciations   besoin de soutien  correct correct  neutre très bien
salaire horaire            14,3 €   1000 €  16,5 €  17,5 €    11,0 €

qualification                  no
appreciations   besoin de soutien excellent neutre à suivre à suivre
salaire horaire            13,8 €   11,25 €  9,1 €     18 €    7,6 €