In [1]:
import pandas as pd
import datetime as dt

In [4]:
date1 = pd.Timestamp("2018-01-01 22:40:52")
date2 = pd.Timestamp("2018-05-13 8:5:52")

In [5]:
date2-date1

Timedelta('131 days 09:25:00')

In [11]:
df=pd.DataFrame({"A":pd.date_range(start="2018-01-01", end="2018-01-20", freq="D"),"B":pd.date_range(start="2019-02-01", end="2019-02-20", freq="D")})

In [12]:
df

            A          B
0  2018-01-01 2019-01-01
1  2018-01-02 2019-01-02
2  2018-01-03 2019-01-03
3  2018-01-04 2019-01-04
4  2018-01-05 2019-01-05
5  2018-01-06 2019-01-06
6  2018-01-07 2019-01-07
7  2018-01-08 2019-01-08
8  2018-01-09 2019-01-09
9  2018-01-10 2019-01-10
10 2018-01-11 2019-01-11
11 2018-01-12 2019-01-12
12 2018-01-13 2019-01-13
13 2018-01-14 2019-01-14
14 2018-01-15 2019-01-15
15 2018-01-16 2019-01-16
16 2018-01-17 2019-01-17
17 2018-01-18 2019-01-18
18 2018-01-19 2019-01-19
19 2018-01-20 2019-01-20

In [13]:
df["difference"]=df["B"]-df["A"]

In [14]:
df

            A          B difference
0  2018-01-01 2019-01-01   365 days
1  2018-01-02 2019-01-02   365 days
2  2018-01-03 2019-01-03   365 days
3  2018-01-04 2019-01-04   365 days
4  2018-01-05 2019-01-05   365 days
5  2018-01-06 2019-01-06   365 days
6  2018-01-07 2019-01-07   365 days
7  2018-01-08 2019-01-08   365 days
8  2018-01-09 2019-01-09   365 days
9  2018-01-10 2019-01-10   365 days
10 2018-01-11 2019-01-11   365 days
11 2018-01-12 2019-01-12   365 days
12 2018-01-13 2019-01-13   365 days
13 2018-01-14 2019-01-14   365 days
14 2018-01-15 2019-01-15   365 days
15 2018-01-16 2019-01-16   365 days
16 2018-01-17 2019-01-17   365 days
17 2018-01-18 2019-01-18   365 days
18 2018-01-19 2019-01-19   365 days
19 2018-01-20 2019-01-20   365 days