In [1]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like

import pandas_datareader.data as web
import datetime as dt

In [3]:
action=web.DataReader('^DJI', 'stooq')
action.sort_index(inplace=True)

In [4]:
# nouvelle colonne jour
action.insert(0,"Jour",action.index.weekday_name)

In [5]:
action.head()

                 Jour   Open   High    Low  Close  Volume
Date
1896-05-27  Wednesday  29.39  29.39  29.39  29.39     NaN
1896-05-28   Thursday  29.11  29.11  29.11  29.11     NaN
1896-05-29     Friday  29.43  29.43  29.43  29.43     NaN
1896-06-01     Monday  29.40  29.40  29.40  29.40     NaN
1896-06-02    Tuesday  29.00  29.00  29.00  29.00     NaN

In [6]:
# le lundi
action.insert(0,"1jour",action.index.is_month_start)

In [7]:
action.head()

            1jour       Jour   Open   High    Low  Close  Volume
Date
1896-05-27  False  Wednesday  29.39  29.39  29.39  29.39     NaN
1896-05-28  False   Thursday  29.11  29.11  29.11  29.11     NaN
1896-05-29  False     Friday  29.43  29.43  29.43  29.43     NaN
1896-06-01   True     Monday  29.40  29.40  29.40  29.40     NaN
1896-06-02  False    Tuesday  29.00  29.00  29.00  29.00     NaN

In [9]:
action[action["1jour"]].head(10)

            1jour       Jour   Open   High    Low  Close  Volume
Date
1896-06-01   True     Monday  29.40  29.40  29.40  29.40     NaN
1896-07-01   True  Wednesday  25.05  25.05  25.05  25.05     NaN
1896-09-01   True    Tuesday  23.19  23.19  23.19  23.19     NaN
1896-10-01   True   Thursday  26.08  26.08  26.08  26.08     NaN
1896-12-01   True    Tuesday  30.40  30.40  30.40  30.40     NaN
1897-02-01   True     Monday  30.69  30.69  30.69  30.69     NaN
1897-03-01   True     Monday  30.19  30.19  30.19  30.19     NaN
1897-04-01   True   Thursday  28.80  28.80  28.80  28.80     NaN
1897-06-01   True    Tuesday  28.98  28.98  28.98  28.98     NaN
1897-07-01   True   Thursday  32.02  32.02  32.02  32.02     NaN

In [10]:
action.truncate(before="2016-01-01", after="2016-12-31")

,1jour,Jour,Open,High,Low,Close,Volume
Date,,,,,,,
2016-01-04,False,Monday,17405.48,17405.48,16957.63,17148.94,148086160.0
2016-01-05,False,Tuesday,17147.50,17195.84,17038.61,17158.66,105776304.0
2016-01-06,False,Wednesday,17154.83,17154.83,16817.62,16906.51,120277408.0
2016-01-07,False,Thursday,16888.36,16888.36,16463.63,16514.10,176387328.0
2016-01-08,False,Friday,16519.17,16651.89,16314.57,16346.45,141870704.0
2016-01-11,False,Monday,16358.71,16461.85,16232.03,16398.57,127810880.0
2016-01-12,False,Tuesday,16419.11,16591.35,16322.07,16516.22,117483392.0
2016-01-13,False,Wednesday,16526.63,16593.51,16123.20,16151.41,153555152.0
2016-01-14,False,Thursday,16159.01,16482.05,16075.12,16379.05,158927776.0
2016-01-15,False,Friday,16354.33,16354.33,15842.11,15988.08,239270048.0
2016-01-19,False,Tuesday,16009.45,16171.96,15900.25,16016.02,144397520.0
2016-01-20,False,Wednesday,15989.45,15989.45,15450.56,15766.74,191876384.0
2016-01-21,False,Thursday,15768.87,16038.59,15704.66,15882.68,145166176.0
2016-01-22,False,Friday,15921.10,16136.79,15921.10,16093.51,145876896.0
2016-01-25,False,Monday,16086.46,16086.46,15880.15,15885.22,123267712.0
2016-01-26,False,Tuesday,15893.16,16185.79,15893.16,16167.23,119502528.0
2016-01-27,False,Wednesday,16168.74,16235.03,15878.30,15944.46,138431424.0
2016-01-28,False,Thursday,15960.28,16102.14,15863.72,16069.64,130651944.0
2016-01-29,False,Friday,16090.26,16466.30,16090.26,16466.30,217981376.0
2016-02-01,True,Monday,16453.63,16510.98,16299.47,16449.18,114464128.0
2016-02-02,False,Tuesday,16420.21,16420.21,16108.44,16153.54,126231064.0
2016-02-03,False,Wednesday,16186.20,16381.69,15960.45,16336.66,141877984.0
2016-02-04,False,Thursday,16329.67,16485.84,16266.16,16416.58,131491944.0
2016-02-05,False,Friday,16417.95,16423.63,16129.81,16204.97,139024992.0
2016-02-08,False,Monday,16147.51,16147.51,15803.55,16027.05,165892704.0
2016-02-09,False,Tuesday,16005.41,16136.62,15881.11,16014.38,127739760.0
2016-02-10,False,Wednesday,16035.61,16201.89,15899.91,15914.74,122604352.0
2016-02-11,False,Thursday,15897.82,15897.82,15503.01,15660.18,172078880.0
2016-02-12,False,Friday,15691.62,15974.04,15691.62,15973.84,132566416.0
2016-02-16,False,Tuesday,16012.39,16196.41,16012.39,16196.41,142042784.0
...,...,...,...,...,...,...,...
2016-11-17,False,Thursday,18866.22,18904.03,18845.27,18903.82,89936360.0
2016-11-18,False,Friday,18905.33,18915.74,18853.83,18867.93,109896840.0
2016-11-21,False,Monday,18898.68,18960.76,18883.10,18956.69,80533336.0
2016-11-22,False,Tuesday,18970.39,19043.90,18962.82,19023.87,85313784.0
2016-11-23,False,Wednesday,19015.52,19083.76,19000.38,19083.18,77881016.0
2016-11-25,False,Friday,19093.72,19152.14,19093.72,19152.14,45897884.0
2016-11-28,False,Monday,19122.14,19138.72,19072.25,19097.90,88463176.0
2016-11-29,False,Tuesday,19064.07,19144.40,19062.22,19121.60,81511088.0
2016-11-30,False,Wednesday,19135.64,19225.29,19123.38,19123.58,164585040.0
2016-12-01,True,Thursday,19149.20,19214.30,19138.79,19191.93,108805456.0
2016-12-02,False,Friday,19161.25,19196.14,19141.18,19170.42,84923904.0
2016-12-05,False,Monday,19244.35,19274.85,19186.73,19216.24,92689240.0
2016-12-06,False,Tuesday,19219.91,19255.89,19184.74,19251.78,77807744.0
2016-12-07,False,Wednesday,19241.99,19558.42,19229.83,19549.62,112146528.0
2016-12-08,False,Thursday,19559.94,19664.97,19527.83,19614.81,89787984.0
2016-12-09,False,Friday,19631.35,19757.74,19623.19,19756.85,91809664.0
2016-12-12,False,Monday,19770.20,19824.59,19747.74,19796.43,99770560.0
2016-12-13,False,Tuesday,19852.21,19953.75,19846.45,19911.21,99395256.0
2016-12-14,False,Wednesday,19876.13,19966.43,19748.67,19792.53,113293648.0
2016-12-15,False,Thursday,19811.50,19951.29,19811.50,19852.24,93316328.0
2016-12-16,False,Friday,19909.01,19923.17,19821.00,19843.41,263537808.0
2016-12-19,False,Monday,19836.66,19917.78,19832.95,19883.06,85520704.0
2016-12-20,False,Tuesday,19920.59,19987.63,19920.42,19974.62,80816232.0
2016-12-21,False,Wednesday,19968.97,19986.56,19941.96,19941.96,71714688.0
2016-12-22,False,Thursday,19922.68,19933.83,19882.19,19918.88,78050320.0
2016-12-23,False,Friday,19908.61,19934.15,19899.06,19933.81,47038200.0
2016-12-27,False,Tuesday,19943.46,19980.24,19939.80,19945.04,49056616.0
2016-12-28,False,Wednesday,19964.31,19981.11,19827.31,19833.68,58764280.0
2016-12-29,False,Thursday,19835.46,19878.44,19788.94,19819.78,52675576.0
2016-12-30,False,Friday,19833.17,19852.55,19718.67,19762.60,103790112.0